@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0%;
	background-image: url("imagedefond.jpg");
	background-attachment: fixed;
}
.container{
	width: 968px;
	margin: 0 auto;
	

}
 
h2{
	color: rgba(218, 20, 20, 0.808);

}

ul {
    width: 70%;
    margin: auto;
}


.presentation-image{
	border: solid;
	background-color: rgba(160, 151, 139, 0.993);
	background-repeat: repeat-x;
	height: 125px;
	text-align: center;
	padding-top: 10px;


}

a:hover{
	color: rgba(58, 4, 255, 0.808);
}

a:visited{
	color: rgba(58, 4, 255, 0.808);
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color:rgba(160, 151, 139, 0.993);
	position: sticky;
	top: 0px;
}
nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 5%;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;
}
nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid rgb(177, 177, 177);
}
nav ul li:hover {
	border-bottom-color: rgba(58, 4, 255, 0.808);
}


.page-content {
	margin: 4%;
}
.page-content header {
	margin-top: 5%;
	max-width: 80%;
}
.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 6vw;
}
.page-content header p {
	line-height: 30px;
	color: #818181;
}
.page-content header button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 9px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.page-content header button:hover {
	color: #ccc;
	border-bottom-color: #000;
}
.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: rgba(160, 151, 139, 0.993);
	color: rgb(255, 255, 255);
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .projects-section {
		margin-top: 15%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
	}
	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}
